@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

:root {
  --background-color: #F8FAFC;
  --primary: #10B981;
  --primary-hover: #057D5A;
  --white-color: rgb(255, 255, 255);
  --description: #64748B;
  --box-shadow: rgba(128, 128, 128, 0.2);
  --box-shadow-hover: rgba(128, 128, 128, 0.3);
}

::selection {
  background-color: var(--primary);
  color: var(--white-color);
}

body {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  background-color: var(--background-color);
  margin-bottom: 3vh;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  align-items: start;
  margin-top: 3vh;
  padding: 0 40px;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 42px;
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-weight: 400;
}

.main-title-border {
  width: 13%;
  margin-top: 10px;
  text-align: center;
  border-top: 4px solid var(--primary);
}

.refresh-container,
.not-interested-container {
  text-align: center;
}

.card {
  position: relative;
  background-color: var(--white-color);
  border: 1px solid var(--box-shadow);
  border-top: none;
  border-radius: 5px;
  padding-bottom: 20px;
  height: auto;
  box-shadow: 0 2px 10px var(--box-shadow);
  transition: all 1s;
}

.card:hover {
  scale: 1.03;
  box-shadow: 0 2px 10px var(--box-shadow-hover);
}

.content {
  padding: 20px;
}

.price {
  position: absolute;
  background-color: var(--primary);
  color: var(--white-color);
  padding: 8px 15px;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
}

.refresh {
  background-color: var(--primary);
  padding: 5px 15px;
  border: none;
  font-size: 16px;
  color: var(--white-color);
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.refresh:hover {
  background-color: var(--primary-hover);
}

.description {
  color: var(--description);
  display: inline;
  line-height: 25px;
}

.read-more {
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card-title {
  text-align: center;
  margin: 0 5px;
  margin-bottom: 15px;
}

.not-interested {
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 5px 10px;
  background-color: transparent;
  transition: all 0.4s;
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
  font-weight: 500;
}

.not-interested:hover {
  color: var(--white-color);
  background-color: var(--primary);
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10px;
  }

  .main-title {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .card:hover {
    scale: 1;
  }
}